<div class="topcoat-navigation-bar">
	<div class="topcoat-navigation-bar__item left quarter">
		<a class="topcoat-icon-button--quiet back-button" href=""
			ng-click="back()"> <span class="topcoat-icon topcoat-icon--back"></span>
		</a>
	</div>
	<div class="topcoat-navigation-bar__item center three-quarters">
		<h1 class="topcoat-navigation-bar__title">Latest Uploads</h1>
	</div>
</div>
<div style="position:absolute;bottom:0px;top:50px;" class="topcoat-list__container scroller" when-scrolled="loadMore()">
    <ul class="topcoat-list list">
        <li ng-repeat="clip in latestClips" class="topcoat-list__item">
            <a ng-click="openClip($index)">	            	
                <img ng-if="clip.coverArtImageBytes !== undefined && clip.coverArtImageBytes != null && clip.coverArtImageBytes != ''" ng-src="data:image/jpg;base64,{{clip.coverArtImageBytes}}">
                <img ng-if="clip.coverArtImageBytes === undefined || clip.coverArtImageBytes == null || clip.coverArtImageBytes == ''" src="img/sw-default.jpg">
                <p>{{clip.title}} ({{clip.album}})</p>
                <p>{{clip.shortDescription}}</p>
            </a>
        </li>
	</ul>
</div>
