<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Explore Songwallah</h1>
        <!-- -1000 indicates current clip -->
        <a  ng-show="nowPlaying" ng-click="go('clips/-9999')" style="position:absolute;top:0;right:0;margin-top:5" class="Btn Size-XS Color-Orange BR-25 Icon-Right Hover-Orange"><span>Now Playing</span><i class="fa fa-chevron-right"></i></a>
    </div>
</div>
<div style="width: 100%;top:168px;bottom:55px;top:75px" class="scroller">
	<!-- start recent clips -->
	<div ng-if="recentclips.length > 0">
		<span style="left: 0; font-weight: bold; font-size: large; padding-top: 20px">
			Recent Clips
		</span>
		<a style="position: absolute; right: 0px; color: #fff; text-align: center; text-shadow: 0 1px 2px rgba(0, 0, 0, .6);">
			See All >
		</a>
	</div>
	
	<div  ng-if="recentclips.length > 0" style="overflow-x: scroll; overflow-y: hidden">
		<table>
			<tr>
				<td ng-click="openRecentClip($index)" ng-repeat="clip in recentClips"
					style="height: 50px; padding-right: 0.5em">
					<table>
						<tr>
							<td>
								<img style="margin: auto; width: 32px; height: 32px" ng-if="clip.clipData.coverArtImageBytes !== undefined && clip.clipData.coverArtImageBytes != null && clip.clipData.coverArtImageBytes != ''"
									ng-src="data:image/jpg;base64,{{clip.clipData.coverArtImageBytes}}">
								<img style="width: 32px; height: 32px" ng-if="clip.clipData.coverArtImageBytes === undefined || clip.clipData.coverArtImageBytes == null || clip.clipData.coverArtImageBytes == ''"
									src="img/sw-default.jpg">
							</td>
						</tr>
						<tr>
							<td style="font-size: 0.75em;">{{clip.clipData.title}}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	<!-- end recent clips -->
	
	<!-- start recent playlists -->
	<div  ng-if="recentPlaylists.length > 0" >
		<span style="left: 0; font-weight: bold; font-size: large; padding-top: 20px">
			Recent Playlists
		</span>
		<a style="position: absolute; right: 0px; color: #fff; text-align: center; text-shadow: 0 1px 2px rgba(0, 0, 0, .6);">
			See All >
		</a>
	</div>
	
	<div ng-if="recentPlaylists.length > 0" style="overflow-x: scroll; overflow-y: hidden">
		<table>
			<tr>
				<td ng-click="openRecentPlaylist($index)" ng-repeat="playlist in recentPlaylists"
					style="height: 50px; padding-right: 0.5em">
					<table>
						<tr>
							<td>
								<img style="margin: auto; width: 32px; height: 32px" ng-if="playlist.playlistData.coverArtUrl !== undefined && playlist.playlistData.coverArtUrl != null && playlist.playlistData.coverArtUrl != ''"
									src="{{playlist.playlistData.coverArtUrl}}">
								<img style="width: 32px; height: 32px" ng-if="playlist.playlistData.coverArtUrl === undefined || playlist.playlistData.coverArtUrl == null || playlist.playlistData.coverArtUrl == ''"
									src="img/playlist.png">
							</td>
						</tr>
						<tr>
							<td style="font-size: 0.75em;">{{playlist.playlistData.title}}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	<!-- end recent playlists -->
	
	<!-- start recent radios -->
	<div ng-if="recentRadios.length > 0" >
		<span style="left: 0; font-weight: bold; font-size: large; padding-top: 20px">
			Recent Radios
		</span>
		<a style="position: absolute; right: 0px; color: #fff; text-align: center; text-shadow: 0 1px 2px rgba(0, 0, 0, .6);">
			See All >
		</a>
	</div>
	
	<div ng-if="recentRadios.length > 0" style="overflow-x: scroll; overflow-y: hidden">
		<table>
			<tr>
				<td ng-click="openRecentRadios($index)" ng-repeat="radio in recentRadios"
					style="height: 50px; padding-right: 0.5em">
					<table>
						<tr>
							<td>
								<img style="margin: auto; width: 32px; height: 32px" ng-if="radio.coverArtUrl !== undefined && radio.coverArtUrl != null && radio.coverArtUrl != ''"
									src="{{radio.coverArtUrl">
								<img style="width: 32px; height: 32px" ng-if="radio.radio.coverArtUrl === undefined || radio.radio.coverArtUrl == null || radio.radio.coverArtUrl == ''"
									src="img/radio.png">
							</td>
						</tr>
						<tr>
							<td style="font-size: 0.75em;">{{radio.title}}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	<!-- start recent radios -->
	
	<div ng-if="latestClips.length > 0">
		<span style="left: 0; font-weight: bold; font-size: large; padding-top: 20px">
			Latest Uploads
		</span>
		<a ng-click="go('alllatestclips')"
			style="position: absolute; right: 0px; color: #fff; text-align: center; text-shadow: 0 1px 2px rgba(0, 0, 0, .6);">
			See All >
		</a>
	</div>
	
	<div  ng-if="latestClips.length > 0" style="overflow-x: scroll; overflow-y: hidden">
		<table>
			<tr>
				<td ng-click="openLatest($index)" ng-repeat="clip in latestClips"
					style="height: 50px; padding-right: 0.5em">
					<table>
						<tr>
							<td>
								<img style="margin: auto; width: 32px; height: 32px" ng-if="clip.coverArtImageBytes !== undefined && clip.coverArtImageBytes != null && clip.coverArtImageBytes != ''"
									ng-src="data:image/jpg;base64,{{clip.coverArtImageBytes}}">
								<img style="width: 32px; height: 32px" ng-if="clip.coverArtImageBytes === undefined || clip.coverArtImageBytes == null || clip.coverArtImageBytes == ''"
									src="img/sw-default.jpg">
							</td>
						</tr>
						<tr>
							<td style="font-size: 0.75em;">{{clip.title}}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	
	<div  ng-if="featuredPlaylists.length > 0">
		<span style="left:0;font-weight:bold;font-size:large;padding-top:20px">Featured Playlists</span>
		<a style="position:absolute;right:0px;color: #fff;text-align: center;text-shadow: 0 1px 2px rgba(0, 0, 0, .6);">
			See All >
		</a>
	</div> 
	
	<div ng-if="featuredPlaylists.length > 0" style="overflow-x:scroll; overflow-y:hidden;padding-top:10px">
		<table>
	 		<tr>
	 			<td ng-repeat="playlist in featuredPlaylists" style="height:50px;padding-right:0.5em">
	 				<a ng-click="openFeatured($index)">
	 					<table>
	 						<tr>
	 							<td>
								     <img style="width:32px; height:32px"  ng-if="playlist.coverArtUrl !== undefined && playlist.coverArtUrl!= null && playlist.coverArtUrl != ''" ng-src="{{playlist.coverArtUrl}}">
								     <img style="width:32px; height:32px"  ng-if="playlist.coverArtUrl === undefined || playlist.coverArtUrl == null || playlist.coverArtUrl == ''" src="img/playlist.png">
							 	</td>
	 						</tr>
	 						<tr>
	 							<td style="font-size:0.75em;">
	          						{{playlist.title}}
	 							</td>
	 						</tr>
	 					</table>
	 				</a>
	 			</td>
			 </tr>
	 	</table>
	</div>
</div>