<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <div class="topcoat-navigation-bar__title"><img src="img/logo.png" /></div>
        <!-- -1000 indicates current clip -->
        <a  ng-show="nowPlaying" ng-click="go('clips/-9999')" style="position:absolute;top:0;right:0;margin-top:5" class="Btn Size-XS Color-Orange BR-25 Icon-Right Hover-Orange"><span>Now Playing</span><i class="fa fa-chevron-right"></i></a>
    </div>
</div>

	<div class="topcoat-list__container ">
		<div class="heading-class">
			My Options
		</div>
	
		<div class="container-myoptions">
			<div class="left-area">	
				<div ng-click="gotoMyOption(5)">
					<img src="img/device.png">					
					<span>On this device</span>
				</div>
				<div ng-click="gotoMyOption(1)">
					<img src="img/favorite-icon.png">					
					<span>My Favorites</span>
					<span ng-if="!usersignedin">(Needs Sign In)</span>
				</div>	
			</div>
			<div class="right-area">	
				<div ng-click="gotoMyOption(2)">
					<img src="img/playlist.png">
					<span>My Playlists <p ng-if="!usersignedin">(Needs Sign In)</p></span>
					
				</div>
				<div ng-click="gotoMyOption(3)">
					<img src="img/radio-icon.png">
					<span>My Radios <p ng-if="!usersignedin">(Needs Sign In)</p></span>
				</div>
				<div ng-click="gotoMyOption(4)">
					<img src="img/redio-icon.png" class="record">
					<span>My Recordings <p ng-if="!usersignedin">(Needs Sign In)</p></span>
				</div>
			</div>
			
		</div>
		<!--
	    <ul class="topcoat-list" style="display:none">
	        <li class="topcoat-list__item" ng-click="gotoMyOption(5)" style="padding: 0 0 0 1em !important;">
	            <a>
	                <p>On this device<img src="img/rightarrow.png"  style="position: absolute; width: 1.5em; height:1.5em; right:0;"  /></p>
	            </a>
	        </li>

	        <li class="topcoat-list__item" ng-click="gotoMyOption(1)" style="padding: 0 0 0 1em !important;">
	            <a>
	                <p>My Favorites<span ng-if="!usersignedin">(Needs Sign In)</span> <img src="img/rightarrow.png"  style="position: absolute; width: 1.5em; height:1.5em; right:0;"  /> </p>
	            </a>
	        </li>
	        <li class="topcoat-list__item" ng-click="gotoMyOption(2)" style="padding: 0 0 0 1em !important;">
	            <a>
	                <p>My Playlists<span ng-if="!usersignedin">(Needs Sign In)</span> <img src="img/rightarrow.png"  style="position: absolute; width: 1.5em; height:1.5em; right:0;"  /></p>
	            </a>
	        </li>
	        <li class="topcoat-list__item" ng-click="gotoMyOption(3)" style="padding: 0 0 0 1em !important;">
	            <a>
	                <p>My Radios<span ng-if="!usersignedin">(Needs Sign In)</span> <img src="img/rightarrow.png"  style="position: absolute; width: 1.5em; height:1.5em; right:0;"  /></p>
	            </a>
	        </li>
	        <li class="topcoat-list__item" ng-click="gotoMyOption(4)" style="padding: 0 0 0 1em !important;">
	            <a>
	                <p>My Recordings<span ng-if="!usersignedin">(Needs Sign In)</span> <img src="img/rightarrow.png"  style="position: absolute; width: 1.5em; height:1.5em; right:0;"  /></p>
	            </a>
	        </li>
		</ul>
		
		-->
	</div>
<div class="bottom-img"></div>
   
	