@CHARSET "ISO-8859-1";

.scroller-less-top {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 60px;
    bottom: 55px;
    left: 0px;
    right: 0px;
}

.bottom-border {
	border-bottom: 1px solid #9daca9;
}