<div class="topcoat-navigation-bar">
	<div class="topcoat-navigation-bar__item left quarter">
		<a class="topcoat-icon-button--quiet back-button" href=""
			ng-click="back()"> <span class="topcoat-icon topcoat-icon--back"></span>
		</a>
	</div>
	<div class="topcoat-navigation-bar__item center half">
		<h1 class="topcoat-navigation-bar__title">Clip</h1>
	</div>
</div>

<div class='details'>
	<div id="player" style="border-bottom-style:inset; background-color:gray;border-bottom-width:2px">
		<div id="media-info">
			<div style="display: table">
				<div style="display: table-row">
					<div style="display: table-cell">
						<img id="prev" ng-click="go('clips/-9997')" src="img/media-previous.png" />
					</div>
					<div style="display: table-cell">
						<img style="width: 20px; height: 20px" id="playpause"
							src="img/headerplaywhite.png" />
					</div>
					<div style="display: table-cell">
						<img id="next" ng-click="go('clips/-9998')" src="img/media-next.png" />
					</div>
					<div style="display: table-cell">
						<label id="media-played" ng-bind="played"></label>
					</div>
					<div style="display: table-cell">
						<input type="range" name="time-slider" id="time-slider"
							ng-model="currPos" min="minval" max="maxval"
							data-highlight="true" />
					</div>
					<div style="display: table-cell">
						<label id="media-duration" ng-bind="duration"></label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="border-bottom-style:inset; background-color:gray;border-bottom-width:2px">
		<table style="width: 100%;">
			<tr>
				<td>{{clip.title}}</td>
				<td rowspan=2 style="text-align:right;"><button class="topcoat-icon-button" style="height:35px"><img ng-click="go('playlists/-9999')" src="img/showplaylist.png" style="width: 25px; height: 25px"/></button></td>
			</tr>
			<tr>
				<td>{{clip.album}}</td>
			</tr>
			<tr>
				<td style="text-align:right"></td>
			</tr>
			<tr>
			<td>
			<div id="moreclipdetails" ng-show="showmore">
				<div>{{clip.artists}}</div>
				<div>{{clip.composers}}</div>
				<div>{{clip.lyricists}}</div>
				<div>{{clip.year}}</div>
				<div>{{clip.genre}}</div>
				<div>Uploaded by {{clip.userName}}&nbsp;{{convertDate(clip.usageData.uploadedDate)}}</div>
			</div>
			<a ng-click="showhideClipDetails()" style="cursor:pointer;"><span ng-hide="showmore">More...&#x25BC;</span><span ng-show="showmore">Less...&#x25B2;</span></a>			
			</td>
			</tr>
		</table>
	</div>
	<div>
		<img
			style="position: relative; left: 0; top: 0; z-index: -10; width: 100%;"
			ng-src="data:image/jpg;base64,{{clip.coverArtImageBytes}}">	
	</div>
	<div id="stats" style="width:100%;bottom: 35px; position: fixed;width: 100%;height: 35px;border-bottom-style:inset; background-color:gray;border-bottom-width:4px;">
		<div style="display: table; width:100%; padding-top: 5px">
			<div style="display: table-row">
				<div style="display: table-cell">
					<span><img style="height:15px;width:15px;" src="img/play.png"/></span>
					<span>{{clip.usageData.plays}}</span>
				</div>
				<div style="display: table-cell">
					<span><img style="height:15px;width:15px;" src="img/comments.png"/></span>
					<span>{{clip.usageData.totalComments}}</span>
				</div>
				<div style="display: table-cell">
					<span><img style="height:15px;width:15px;" src="img/fb.png"/></span>
					<span>{{clip.usageData.fbShares}}</span>
				</div>
				<div style="display: table-cell">
					<span><img style="height:15px;width:15px;" src="img/mail.png"/></span>
					<span>{{clip.usageData.emailShares}}</span>
				</div>
			</div>
		</div>
	</div>
	<div id="actions" style="bottom: 0px; position: fixed;width: 100%;height: 32px;border-bottom-style:inset; background-color:gray;border-bottom-width:4px;">
		<div style="display: table; width:100%; padding-top: 5px">
			<div style="display: table-row">
				<div style="display: table-cell; width: 20%">
					<span><img ng-click="downloadClip()" style="height:25px;width:25px;" src="img/clouddownload.png"/></span>								
				</div>
				<div style="display: table-cell; width: 20%">
					<span><img ng-click="shareClip()" style="height:25px;width:25px;" src="img/mobileshare.png"/></span>
				</div>
				<div style="display: table-cell; width: 20%">
					<span><img style="height:25px;width:25px;" src="img/favorite.jpg"/></span>
				</div>
				<div style="display: table-cell; width: 20%;">
					<rating style="position:fixed;font-size:16px;" ng-class="userRated ? userRatedClass : otherRatedClass" value="clip.userRating" max="5" state-on="glyphicon-star" state-off="glyphicon-star-empty"></rating>
				</div>
			</div>
		</div>
	</div>
</div>
