<div class="topcoat-navigation-bar">
	<div class="topcoat-navigation-bar__item left quarter">
		<a class="topcoat-icon-button--quiet back-button" href=""
			ng-click="back()"> <span class="topcoat-icon topcoat-icon--back"></span>
		</a>
	</div>
	<div class="topcoat-navigation-bar__item center half">
		<h1 class="topcoat-navigation-bar__title">My Favorites</h1>
		 <a  ng-show="nowPlaying" ng-click="go('clips/-9999')" style="position:absolute;top:0;right:0;margin-top:5" class="Btn Size-XS Color-Orange BR-25 Icon-Right Hover-Orange"><span>Now Playing</span><i class="fa fa-chevron-right"></i></a>
	</div>
</div>


	<div class="topcoat-list__container scroller" when-scrolled="loadMoreFavorites()" style="top:70px !important;" ng-if="usersignedin">
	 <ul class="topcoat-list list">
	   <li ng-repeat="clip in favoritesresults.clips" class="topcoat-list__item">
	            <a ng-click="openfavorite('clip', $index)">
	                <img ng-if="clip.coverArtImageBytes !== undefined && clip.coverArtImageBytes != null && clip.coverArtImageBytes != ''" ng-src="data:image/jpg;base64,{{clip.coverArtImageBytes}}">
	                <img ng-if="clip.coverArtImageBytes === undefined || clip.coverArtImageBytes == null || clip.coverArtImageBytes == ''" src="img/sw-default.jpg">
	                <p>{{clip.title}} ({{clip.album}})</p>
	            </a>
	   </li>


	   <li ng-repeat="playlist in favoritesresults.playLists" class="topcoat-list__item">
	            <a ng-click="openfavorite('playlist', $index)">
	                <img ng-if="playlist.coverArtUrl !== undefined && playlist.coverArtUrl != null && playlist.coverArtUrl != ''" ng-src="{{playlist.coverArtUrl}}">
	                <img ng-if="playlist.coverArtUrl === undefined || playlist.coverArtUrl == null || playlist.coverArtUrl == ''" src="img/playlist.png">
	                <p>{{playlist.title}} ({{playlist.totalClips}})</p>
	            </a>
	   </li>
	    </ul> 
	</div>
	
	<div ng-if="!usersignedin">
		You need to <a ng-click="go('settings')" style="text-decoration:underline;color:blue;">sign-in</a> to see your favorites
	</div>

   
	