<div class="topcoat-navigation-bar">
	<div class="topcoat-navigation-bar__item left quarter">
		<a class="topcoat-icon-button--quiet back-button" href=""
			ng-click="back()"> <span class="topcoat-icon topcoat-icon--back"></span>
		</a>
	</div>
	<div class="topcoat-navigation-bar__item center half">
		<h1 class="topcoat-navigation-bar__title">My Radios</h1>
		 <a  ng-show="nowPlaying" ng-click="go('clips/-9999')" style="position:absolute;top:0;right:0;margin-top:5" class="Btn Size-XS Color-Orange BR-25 Icon-Right Hover-Orange"><span>Now Playing</span><i class="fa fa-chevron-right"></i></a>
	</div>
</div>


<div class="topcoat-list__container scroller" when-scrolled="loadMoreRadios()" style="top:70px !important;" ng-if="usersignedin">
	 <ul class="topcoat-list list">
	   <li ng-repeat="radio in myradios.radiosList" class="topcoat-list__item">
	            <a ng-click="playradio($index)">
	                <img ng-if="radio.coverArtUrl !== undefined && radio.coverArtUrl != null && radio.coverArtUrl != ''" ng-src="{{radio.coverArtUrl}}">
	                <img ng-if="radio.coverArtUrl === undefined || radio.coverArtUrl == null || radio.coverArtUrl == ''" src="img/radio.png">
	                <p>{{radio.title}}</p>
	            </a>
	   </li>
	 </ul> 
</div>

   
		
	<div ng-if="!usersignedin">
		You need to <a ng-click="go('settings')" style="text-decoration:underline;color:blue;">sign-in</a> to see your radios
	</div>